################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AI-Habarbar/FileContentIndex/1491d3b0-c942-4d88-a4bb-9b675c96a761.vsidx
/.gitignore
/.vs/AI-Habarbar/FileContentIndex/27306faf-7a3b-426b-8a58-6a101ea98e72.vsidx
/.vs/AI-Habarbar/FileContentIndex/66745b94-fd49-4c44-a53a-923b8297f522.vsidx
/.vs/AI-Habarbar/FileContentIndex/6f8d4424-dbc3-408b-8f12-fa2011724de9.vsidx
/.vs/AI-Habarbar/FileContentIndex/46d3ac73-2ca9-49b1-9b62-64522787b206.vsidx
/.vs/AI-Habarbar/FileContentIndex/d08ef721-3822-4737-a213-51688e02d675.vsidx
/.vs/slnx.sqlite
/.vs/AI-Habarbar/FileContentIndex/6c50a13e-a769-4d67-bf3e-5a5c4f670776.vsidx
