body {
  margin: auto;
}

header {
  height: 5rem;
  background-color: aqua;
  width: 100%;
  display: flex;
}

main {
  height: 100vh;
  background-color: #252525;
}

.navbar {
  align-items: center;
  position: absolute;
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  color: aliceblue;
  transition: all 0.5s;
  font-family: sans-serif;
}

.navlist {
  list-style-type: none;
  margin: 0;
  display: flex;
  padding: 0.5rem;

  transition: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  color: inherit;
}

.nav-link {
  align-items: center;
  display: flex;
  padding: 0.3rem;
  font-size: 1.5rem;

  transition: all 0.5s;
  text-decoration: inherit;
  text-transform: inherit;
  color: inherit;
}

.nav-text:hover {
  font-size: 2rem;
}

.nav-home {
  margin: 1rem 0;
  height: min-content;
}

.nav-icon {
  padding: 0.5rem;
  margin: 0.2rem;
  font-size: 1.5rem;
  scale: 150%;
  cursor: pointer;

  background-color: #333333;
  border-radius: 0.25rem;

  color: aliceblue;
  text-decoration: inherit;
  text-transform: inherit;
  transition: inherit;
}

.nav-logotext {
  /* position: fixed; */
  opacity: 0;
}

/* .nav-home:hover .nav-logo {
  transform: rotate(270deg);
}

.nav-home:hover .nav-logotext {
  transform: translateX(3rem);
  opacity: 1;
} */

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.3s; /* If you want a transition effect */
  padding: 20px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
