.mason-container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-template-rows: masonry;
  align-tracks: center;
  /* align-items: center; */
}

img {
  max-width: 100%;
  max-height: auto;
}
