.mason-container {
  max-width: 80%;
  margin: auto;
  display: grid;
  padding: 1rem;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, 10vw);
  grid-template-rows: masonry;
  background-color: aqua;
  place-items: center;
  justify-content: center;
  /* align-items: center; */
}

.grid-item {
  padding: 8%;
  display: flex;
  background-color: gray;
  border-radius: 20%;
  border: aliceblue solid;
  border-width: 0.5rem;
}

img {
  border-radius: 25%;
  max-width: 100%;
  max-height: auto;
}
/* 
project {
  width: 100%;
  background-color: bisque;
  display: flex;
} */
