.grid-item {
  padding: 8%;
  display: block;
  text-align: center;
  background-color: gray;
  border-radius: 20%;
  border: aliceblue solid;
  border-width: 0.5rem;
}

.container {
  background-color: #f0f0f0;
  margin-bottom: 10px;
}
.card {
  margin: 10px;
}

.table {
  margin: 10px;
}
